<configuration>
    <!-- APPENDER CONSOLE EXISTANT -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"service":"user_services","env":"dev"}
            </customFields>
             <includeMdc>true</includeMdc>
        </encoder>
    </appender>

    <!-- NOUVEL APPENDER FICHIER AVEC ROTATION -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"service":"user_services","env":"dev"}
            </customFields>
            <includeMdc>true</includeMdc>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
